.container {
  width: 100%;
  min-width: 1100px;
  min-height: 100%;
  margin: -92px 0 -200px 0;
  padding: 92px 0 300px 0;

  .inner {
    width: 1100px;
    margin: 0 auto;
  }
}

.contents {
  width: 100%;
  min-height: 1000px;
  margin: 0;
  padding: 40px 0 0;

  &__title-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 70px 0 24px;
  }

  &__title {
    padding: 0 0 26px 0;
    margin: 0;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: -1px;
    line-height: 1.1;
    color: #222;
  }

  &__sub-title {
    margin: 0;
    font-size: 24px;
    font-weight: 400;
    color: #503396;
    line-height: 1.1;
  }

  &.location-fixed {
    padding-top: 82px;
  }
}

.icon-set{
  overflow: hidden;
  margin: -1px 0 0 0;
  display: inline-block;
  padding: 0;
  font-size: 0;
  line-height: 0;
  vertical-align: middle;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.event {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  gap: 40px;

  &__list {
    flex: 0 0 245px;
    position: relative;
  }

  &--empty-title {
    margin-top: 30px;
  }
}

.dot-lists {
  &__list {
    position: relative;
    margin-top: 2px;
    padding-left: 8px;
    font-size: 15px;
    color: #444;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 9px;
      left: 0;
      background-color: #503396;
      width: 3px;
      height: 3px;
    }
  }
}

.dash-lists {
  margin-top: 5px;

  &__list {
    position: relative;
    margin-top: 5px;
    padding-left: 11px;
    font-size: 14px;
    color: #666;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 10px;
      left: 0;
      background-color: #333;
      width: 4px;
      height: 1px;
    }
  }
}

.c-gblue {
  color: #01738b !important;
}
